@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-bg-color: #ffffff;
  --base-text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-bg-color: #000000;
    --base-text-color: #ffffff;
  }
}

body {
  color: var(--base-bg-color);
  color: var(--base-text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
